.example-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .example-sidenav-content {
    height: 100%;
  }

  .example-sidenav {
    width: 300px;
  }
  .example-sidenav-button{
    position: absolute;
    top: 0 ;
    left: 0px;
  }
  
